In [1]:
import os,sys,inspect
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parent_dir = os.path.dirname(current_dir)
sys.path.insert(0, parent_dir)

In [2]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

from common.preprocessing import CropDataProcessor

In [3]:
train_data = pd.read_csv("../data/Crop_Data__train.csv")

In [4]:
train_data.shape

(164986, 25)

In [5]:
data_preprocessor = CropDataProcessor(train_data, excluded_features=['Dew_Frost_Point', 'Year'])

In [6]:
data_preprocessor.get_training_features().head()

Warning: Features are not processed yet.

,State,District,Lat,Long,GW_depth_Min,GW_depth_Max,Wells_depth_0_to_2,Wells_depth_2_to_5,Wells_depth_5_to_10,Wells_depth_10_to_20,...,Wells_depth_40_and_above,Precipitation,Solar_Radiation,Surface_Pressure,Humidity,Temp_Max,Temp_Min,Wind_Speed,Season,Crop
0,KARNATAKA,BIDAR,14.54387,76.23089,3.65,20.30,0,4,7,6.0,...,0.0,66.890833,19.725833,94.141667,62.022,31.448,19.958,3.268,Whole Year,Coriander
1,ASSAM,SIVASAGAR,26.82490,94.17820,1.94,7.19,2,1,1,0.0,...,0.0,19.656000,17.538000,97.352000,59.524,24.642,12.838,0.518,Rabi,Urad
2,GUJARAT,VADODARA,22.27342,73.18848,3.05,37.90,0,4,17,10.0,...,0.0,236.414000,17.544000,99.666000,79.024,31.816,24.144,2.984,Kharif,Urad
3,RAJASTHAN,DUNGARPUR,23.68344,73.82284,2.44,20.60,0,4,6,7.0,...,0.0,79.125833,18.270833,97.630833,48.312,33.668,20.010,2.317,Whole Year,Guar seed
4,ASSAM,TINSUKIA,27.47920,95.37184,0.14,4.90,1,5,2,0.0,...,0.0,96.498333,15.804167,96.608333,62.027,30.314,19.018,0.290,Whole Year,Potato

In [7]:
data_preprocessor.process_to_train()

Clustered Lat-Long to Geo Region.
Encoded Crop using WoE.
Transforming numerical features.
Transforming categorical features.

In [8]:
X_train = data_preprocessor.get_training_features()
X_train.shape

(164986, 28)

In [9]:
# print(data_preprocessor.process_to_predict(train_data.loc[100:105].drop(['Area', 'Production'], axis=1)).shape)
# data_preprocessor.process_to_predict(train_data.loc[100:105].drop(['Area', 'Production'], axis=1))[:10]

In [10]:
y_train = data_preprocessor.get_training_target()
y_train.shape

(164986, 1)