In [1]:
import pandas as pd

In [2]:
apy_data = pd.read_csv('./APY/Area_Production_Yield.csv')
groundwater_data = pd.read_csv('./GroundWater/data/ALL(Corrected)_Ground_Water_Levels.csv')

In [3]:
apy_data.head(10)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
5,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Coconut,18168.0,65100000.0
6,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Dry ginger,36.0,100.0
7,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sugarcane,1.0,2.0
8,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sweet potato,5.0,15.0
9,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Tapioca,40.0,169.0

In [4]:
groundwater_data.head(10)

,State,District,No of wells monitored,Minimum,Maximum,0 to 2,in %,2 to 5,in %.1,5 to 10,in %.2,10 to 20,in %.3,20 to 40,in %.4,> 40,in %.5
0,Andaman and Nicobar,NORTH_MIDDLE_ANDAMAN,33,0.04,4.56,29,88%,4,12%,0,0%,0.0,0%,0.0,0%,0.0,0%
1,Andaman and Nicobar,SOUTH ANDAMAN,73,0.07,10.00,51,70%,15,21%,7,10%,0.0,0%,0.0,0%,0.0,0%
2,Andhra Pradesh,ANANTAPUR,41,0.85,53.78,2,5%,7,17%,12,29%,16.0,39%,3.0,7%,1.0,2%
3,Andhra Pradesh,CHITTOOR,45,2.05,18.70,0,0%,8,18%,18,40%,19.0,42%,0.0,0%,0.0,0%
4,Andhra Pradesh,CUDDAPAH,31,2.55,60.00,0,0%,2,6%,13,42%,12.0,39%,1.0,3%,3.0,10%
5,Andhra Pradesh,EAST GODAVARI,87,0.45,11.40,14,16%,44,51%,26,30%,3.0,3%,0.0,0%,0.0,0%
6,Andhra Pradesh,GUNTUR,92,0.31,39.50,10,11%,42,46%,28,30%,11.0,12%,1.0,1%,0.0,0%
7,Andhra Pradesh,KRISHNA,67,0.94,23.80,8,12%,33,49%,18,27%,7.0,10%,1.0,1%,0.0,0%
8,Andhra Pradesh,KURNOOL,43,0.55,35.93,3,7%,7,16%,22,51%,10.0,23%,1.0,2%,0.0,0%
9,Andhra Pradesh,NELLORE,57,0.64,17.00,2,4%,16,28%,27,47%,12.0,21%,0.0,0%,0.0,0%

In [5]:
df_apy = apy_data.copy()
df_gw = groundwater_data.copy()

# Common States

In [6]:
len(df_apy.State_Name.unique())

33

In [7]:
len(df_gw.State.unique())

32

In [8]:
convert_to_upper = lambda s: s.strip().upper()
df_apy.State_Name = df_apy.State_Name.apply(convert_to_upper)
df_gw.State = df_gw.State.apply(convert_to_upper)

[state for state in df_apy.State_Name.unique() if state not in df_gw.State.unique()]

['ANDAMAN AND NICOBAR ISLANDS',
 'MANIPUR',
 'MIZORAM',
 'PUDUCHERRY',
 'SIKKIM',
 'UTTARAKHAND']

In [9]:
df_apy.State_Name.loc[df_apy.State_Name == 'Andaman and Nicobar Islands'.upper()] = 'Andaman and Nicobar'.upper()
df_gw.State.loc[df_gw.State == 'Pondicherry'.upper()] = 'Puducherry'.upper()
df_gw.State.loc[df_gw.State == 'Uttaranchal'.upper()] = 'Uttarakhand'.upper()

C:\Users\animathur\AppData\Local\Continuum\anaconda3\envs\py3-TensorFlow2\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

# Common Districts

In [10]:
df_apy.District_Name = df_apy.District_Name.apply(convert_to_upper)
df_gw.District = df_gw.District.apply(convert_to_upper)

In [11]:
len((df_apy.State_Name + df_apy.District_Name).unique())

652

In [12]:
len((df_gw.State + df_gw.District).unique())

553

In [13]:
df_gw.District.loc[df_gw.District == 'NORTH_MIDDLE_ANDAMAN'] = 'NORTH AND MIDDLE ANDAMAN'
df_gw.District.loc[df_gw.District == 'SOUTH ANDAMAN'] = 'SOUTH ANDAMANS'
df_gw.District.loc[df_gw.District == 'SIBSAGAR'] = 'SIVASAGAR'
df_gw.District.loc[df_gw.District == 'SEIKHPURA'] = 'SHEIKHPURA'
df_gw.District.loc[df_gw.District == 'THE DANGS'] = 'DANG'
df_gw.District.loc[df_gw.District == 'PAKAUR'] = 'PAKUR'
df_gw.District.loc[df_gw.District == 'TARAN TARAN'] = 'TARN TARAN'
df_gw.District.loc[df_gw.District == 'Tiruvallur'.upper()] = 'THIRUVALLUR'
df_gw.District.loc[df_gw.District == 'Tiruvarur'.upper()] = 'THIRUVARUR'
df_gw.District.loc[df_gw.District == 'KUSHINAGAR'] = 'KUSHI NAGAR'
df_gw.District.loc[df_gw.District == 'MAHRAJGANJ'] = 'MAHARAJGANJ'
df_gw.District.loc[df_gw.District == 'SIDDHARTHNAGAR'] = 'SIDDHARTH NAGAR'
df_gw.District.loc[df_gw.District == 'Uttarkashi'.upper()] = 'UTTAR KASHI'
df_gw.District.loc[df_gw.District == 'DARJILING'] = 'DARJEELING'
df_gw.District.loc[df_gw.District == 'HAZARIBAG'] = 'HAZARIBAGH'
df_gw.District.loc[df_gw.District == 'Ri-Bhoi'.upper()] = 'RI BHOI'
df_gw.District.loc[df_gw.District == 'BARDDHAMAN'] = 'BARDHAMAN'
df_gw.District.loc[df_gw.District == 'BARDDHAMAN'] = 'BARDHAMAN'


df_apy.District_Name.loc[df_apy.District_Name == 'SPSR NELLORE'] = 'NELLORE'
df_apy.District_Name.loc[df_apy.District_Name == 'VISAKHAPATANAM'] = 'VISAKHAPATNAM'
df_apy.District_Name.loc[df_apy.District_Name == 'PAPUM PARE'] = 'PAPUMPARE'
df_apy.District_Name.loc[df_apy.District_Name == 'KAIMUR (BHABUA)'] = 'KAIMUR'
df_apy.District_Name.loc[df_apy.District_Name == 'PURBI CHAMPARAN'] = 'PURBA CHAMPARAN'
df_apy.District_Name.loc[df_apy.District_Name == 'JANJGIR-CHAMPA'] = 'JANJGIR - CHAMPA'
df_apy.District_Name.loc[df_apy.District_Name == 'BANAS KANTHA'] = 'BANASKANTHA'
df_apy.District_Name.loc[df_apy.District_Name == 'PANCH MAHALS'] = 'PANCHMAHALS'
df_apy.District_Name.loc[df_apy.District_Name == 'SABAR KANTHA'] = 'Sabarkantha'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'WEST SINGHBHUM'] = 'PASHCHIMI SINGHBHUM'
df_apy.District_Name.loc[df_apy.District_Name == 'EAST SINGHBUM'] = 'PURBI SINGHBHUM'
df_apy.District_Name.loc[df_apy.District_Name == 'SAHEBGANJ'] = 'SAHIBGANJ'
df_apy.District_Name.loc[df_apy.District_Name == 'DAKSHIN KANNAD'] = 'DAKSHIN KANNADA'
df_apy.District_Name.loc[df_apy.District_Name == 'UTTAR KANNAD'] = 'Uttara Kannada'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'DAVANGERE'] = 'Davanagere'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'ASHOKNAGAR'] = 'ASHOK NAGAR'
df_apy.District_Name.loc[df_apy.District_Name == 'NARSINGHPUR'] = 'NARSIMHAPUR'
df_apy.District_Name.loc[df_apy.District_Name == 'BULDHANA'] = 'Buldana'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'SINDHUDURG'] = 'Sindudurg'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'NABARANGPUR'] = 'NABARANGAPUR'
df_apy.District_Name.loc[df_apy.District_Name == 'SONEPUR'] = 'SONAPUR'
df_apy.District_Name.loc[df_apy.District_Name == 'FIROZEPUR'] = 'FIROZPUR'
df_apy.District_Name.loc[df_apy.District_Name == 'CHITTORGARH'] = 'CHITTAURGARH'
df_apy.District_Name.loc[df_apy.District_Name == 'DHOLPUR'] = 'DHAULPUR'
df_apy.District_Name.loc[df_apy.District_Name == 'KANCHIPURAM'] = 'Kancheepuram'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'KANNIYAKUMARI'] = 'Kanyakumari'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'THE NILGIRIS'] = 'Nilgiris'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'TIRUVANNAMALAI'] = 'Thiruvannamalai'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'RANGAREDDI'] = 'RANGA REDDY'
df_apy.District_Name.loc[df_apy.District_Name == 'GOMATI'] = 'Gomti'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'SEPAHIJALA'] = 'Sipahi-Jala'.upper()
df_apy.District_Name.loc[df_apy.District_Name == 'SANT KABEER NAGAR'] = 'SANT KABIR NAGAR'
df_apy.District_Name.loc[df_apy.District_Name == 'SHRAVASTI'] = 'SHRAWASTI'
df_apy.District_Name.loc[df_apy.District_Name == 'UDAM SINGH NAGAR'] = 'Udham Singh Nagar'
df_apy.District_Name.loc[df_apy.District_Name == 'DINAJPUR DAKSHIN'] = 'NORTH DINAJPUR'
df_apy.District_Name.loc[df_apy.District_Name == 'MEDINIPUR EAST'] = 'EAST MEDINIPUR'
df_apy.District_Name.loc[df_apy.District_Name == 'MEDINIPUR WEST'] = 'WEST MEDINIPUR'
df_apy.District_Name.loc[df_apy.District_Name == 'PURULIA'] = 'PURULIYA'
df_apy.District_Name.loc[df_apy.District_Name == 'PURULIA'] = 'PURULIYA'

In [14]:
apy_districts = df_apy.District_Name.unique()
gw_districts = df_gw.District.unique()

In [15]:
apy_gw_districts = [district for district in apy_districts if district in gw_districts]

In [16]:
apy_gw_districts

['NORTH AND MIDDLE ANDAMAN',
 'SOUTH ANDAMANS',
 'ANANTAPUR',
 'CHITTOOR',
 'EAST GODAVARI',
 'GUNTUR',
 'KRISHNA',
 'KURNOOL',
 'PRAKASAM',
 'NELLORE',
 'SRIKAKULAM',
 'VISAKHAPATNAM',
 'VIZIANAGARAM',
 'WEST GODAVARI',
 'EAST SIANG',
 'LOHIT',
 'LOWER SUBANSIRI',
 'PAPUMPARE',
 'BAKSA',
 'BARPETA',
 'BONGAIGAON',
 'CACHAR',
 'CHIRANG',
 'DARRANG',
 'DHEMAJI',
 'DHUBRI',
 'DIBRUGARH',
 'GOALPARA',
 'GOLAGHAT',
 'HAILAKANDI',
 'JORHAT',
 'KAMRUP',
 'KAMRUP METRO',
 'KARBI ANGLONG',
 'KARIMGANJ',
 'KOKRAJHAR',
 'LAKHIMPUR',
 'NAGAON',
 'NALBARI',
 'SIVASAGAR',
 'SONITPUR',
 'TINSUKIA',
 'UDALGURI',
 'ARARIA',
 'AURANGABAD',
 'BANKA',
 'BEGUSARAI',
 'BHAGALPUR',
 'BHOJPUR',
 'BUXAR',
 'DARBHANGA',
 'GAYA',
 'GOPALGANJ',
 'JAMUI',
 'JEHANABAD',
 'KAIMUR',
 'KATIHAR',
 'KHAGARIA',
 'KISHANGANJ',
 'LAKHISARAI',
 'MADHEPURA',
 'MADHUBANI',
 'MUNGER',
 'MUZAFFARPUR',
 'NALANDA',
 'NAWADA',
 'PASHCHIM CHAMPARAN',
 'PATNA',
 'PURBA CHAMPARAN',
 'PURNIA',
 'ROHTAS',
 'SAHARSA',
 'SAMASTIPUR',
 'SARAN',
 'SHEIKHPURA',
 'SHEOHAR',
 'SITAMARHI',
 'SIWAN',
 'SUPAUL',
 'VAISHALI',
 'CHANDIGARH',
 'BALRAMPUR',
 'BASTAR',
 'BIJAPUR',
 'BILASPUR',
 'DHAMTARI',
 'DURG',
 'JANJGIR - CHAMPA',
 'JASHPUR',
 'KANKER',
 'KORBA',
 'MAHASAMUND',
 'RAIGARH',
 'RAIPUR',
 'RAJNANDGAON',
 'SURGUJA',
 'DADRA AND NAGAR HAVELI',
 'NORTH GOA',
 'SOUTH GOA',
 'AMRELI',
 'ANAND',
 'BANASKANTHA',
 'BHARUCH',
 'BHAVNAGAR',
 'DANG',
 'DOHAD',
 'GANDHINAGAR',
 'JAMNAGAR',
 'JUNAGADH',
 'KACHCHH',
 'KHEDA',
 'MAHESANA',
 'NARMADA',
 'NAVSARI',
 'PANCHMAHALS',
 'PATAN',
 'PORBANDAR',
 'RAJKOT',
 'SABARKANTHA',
 'SURAT',
 'SURENDRANAGAR',
 'VADODARA',
 'VALSAD',
 'AMBALA',
 'BHIWANI',
 'FARIDABAD',
 'FATEHABAD',
 'GURGAON',
 'HISAR',
 'JHAJJAR',
 'JIND',
 'KAITHAL',
 'KARNAL',
 'KURUKSHETRA',
 'MAHENDRAGARH',
 'MEWAT',
 'PALWAL',
 'PANCHKULA',
 'PANIPAT',
 'REWARI',
 'ROHTAK',
 'SIRSA',
 'SONIPAT',
 'YAMUNANAGAR',
 'HAMIRPUR',
 'KANGRA',
 'KULLU',
 'MANDI',
 'SIRMAUR',
 'SOLAN',
 'UNA',
 'JAMMU',
 'KATHUA',
 'RAJAURI',
 'UDHAMPUR',
 'BOKARO',
 'CHATRA',
 'DEOGHAR',
 'DHANBAD',
 'DUMKA',
 'PURBI SINGHBHUM',
 'GARHWA',
 'GIRIDIH',
 'GODDA',
 'GUMLA',
 'HAZARIBAG',
 'LOHARDAGA',
 'PAKUR',
 'PALAMU',
 'RANCHI',
 'SAHIBGANJ',
 'PASHCHIMI SINGHBHUM',
 'BAGALKOT',
 'BANGALORE RURAL',
 'BELGAUM',
 'BELLARY',
 'BIDAR',
 'CHAMARAJANAGAR',
 'CHIKMAGALUR',
 'CHITRADURGA',
 'DAKSHIN KANNADA',
 'DAVANAGERE',
 'DHARWAD',
 'GADAG',
 'GULBARGA',
 'HASSAN',
 'HAVERI',
 'KODAGU',
 'KOLAR',
 'KOPPAL',
 'MANDYA',
 'MYSORE',
 'RAICHUR',
 'SHIMOGA',
 'TUMKUR',
 'UDUPI',
 'UTTARA KANNADA',
 'ALAPPUZHA',
 'ERNAKULAM',
 'IDUKKI',
 'KANNUR',
 'KASARAGOD',
 'KOLLAM',
 'KOTTAYAM',
 'KOZHIKODE',
 'MALAPPURAM',
 'PALAKKAD',
 'PATHANAMTHITTA',
 'THIRUVANANTHAPURAM',
 'THRISSUR',
 'WAYANAD',
 'AGAR MALWA',
 'ALIRAJPUR',
 'ANUPPUR',
 'ASHOK NAGAR',
 'BALAGHAT',
 'BARWANI',
 'BETUL',
 'BHIND',
 'BHOPAL',
 'BURHANPUR',
 'CHHATARPUR',
 'CHHINDWARA',
 'DAMOH',
 'DATIA',
 'DEWAS',
 'DHAR',
 'DINDORI',
 'GUNA',
 'GWALIOR',
 'HARDA',
 'HOSHANGABAD',
 'INDORE',
 'JABALPUR',
 'JHABUA',
 'KATNI',
 'MANDLA',
 'MANDSAUR',
 'MORENA',
 'NARSIMHAPUR',
 'NEEMUCH',
 'PANNA',
 'RAISEN',
 'RAJGARH',
 'RATLAM',
 'REWA',
 'SAGAR',
 'SATNA',
 'SEHORE',
 'SEONI',
 'SHAHDOL',
 'SHAJAPUR',
 'SHEOPUR',
 'SHIVPURI',
 'SIDHI',
 'SINGRAULI',
 'TIKAMGARH',
 'UJJAIN',
 'UMARIA',
 'VIDISHA',
 'AHMEDNAGAR',
 'AKOLA',
 'AMRAVATI',
 'BEED',
 'BHANDARA',
 'BULDANA',
 'CHANDRAPUR',
 'DHULE',
 'GADCHIROLI',
 'GONDIA',
 'HINGOLI',
 'JALGAON',
 'JALNA',
 'KOLHAPUR',
 'LATUR',
 'NAGPUR',
 'NANDED',
 'NANDURBAR',
 'NASHIK',
 'OSMANABAD',
 'PARBHANI',
 'PUNE',
 'RAIGAD',
 'RATNAGIRI',
 'SANGLI',
 'SATARA',
 'SINDUDURG',
 'SOLAPUR',
 'THANE',
 'WARDHA',
 'WASHIM',
 'YAVATMAL',
 'EAST GARO HILLS',
 'EAST JAINTIA HILLS',
 'EAST KHASI HILLS',
 'NORTH GARO HILLS',
 'RI-BHOI',
 'SOUTH WEST GARO HILLS',
 'WEST GARO HILLS',
 'WEST JAINTIA HILLS',
 'WEST KHASI HILLS',
 'DIMAPUR',
 'ANUGUL',
 'BALANGIR',
 'BALESHWAR',
 'BARGARH',
 'BHADRAK',
 'CUTTACK',
 'DHENKANAL',
 'JAGATSINGHAPUR',
 'JAJAPUR',
 'JHARSUGUDA',
 'KALAHANDI',
 'KANDHAMAL',
 'KENDRAPARA',
 'KENDUJHAR',
 'KHORDHA',
 'KORAPUT',
 'MALKANGIRI',
 'MAYURBHANJ',
 'NABARANGAPUR',
 'NAYAGARH',
 'NUAPADA',
 'PURI',
 'RAYAGADA',
 'SAMBALPUR',
 'SONAPUR',
 'SUNDARGARH',
 'KARAIKAL',
 'PONDICHERRY',
 'AMRITSAR',
 'BARNALA',
 'BATHINDA',
 'FARIDKOT',
 'FATEHGARH SAHIB',
 'FAZILKA',
 'FIROZPUR',
 'GURDASPUR',
 'HOSHIARPUR',
 'JALANDHAR',
 'KAPURTHALA',
 'LUDHIANA',
 'MANSA',
 'MOGA',
 'MUKTSAR',
 'PATHANKOT',
 'PATIALA',
 'RUPNAGAR',
 'SANGRUR',
 'TARN TARAN',
 'AJMER',
 'ALWAR',
 'BANSWARA',
 'BARAN',
 'BARMER',
 'BHARATPUR',
 'BHILWARA',
 'BIKANER',
 'BUNDI',
 'CHITTAURGARH',
 'CHURU',
 'DAUSA',
 'DHAULPUR',
 'DUNGARPUR',
 'GANGANAGAR',
 'HANUMANGARH',
 'JAIPUR',
 'JAISALMER',
 'JALORE',
 'JHALAWAR',
 'JODHPUR',
 'KARAULI',
 'KOTA',
 'NAGAUR',
 'PALI',
 'PRATAPGARH',
 'RAJSAMAND',
 'SAWAI MADHOPUR',
 'SIKAR',
 'SIROHI',
 'TONK',
 'UDAIPUR',
 'ARIYALUR',
 'COIMBATORE',
 'CUDDALORE',
 'DHARMAPURI',
 'DINDIGUL',
 'ERODE',
 'KANCHEEPURAM',
 'KANYAKUMARI',
 'KARUR',
 'KRISHNAGIRI',
 'MADURAI',
 'NAGAPATTINAM',
 'NAMAKKAL',
 'PERAMBALUR',
 'PUDUKKOTTAI',
 'RAMANATHAPURAM',
 'SALEM',
 'SIVAGANGA',
 'THANJAVUR',
 'NILGIRIS',
 'THENI',
 'THIRUVALLUR',
 'THIRUVARUR',
 'TIRUCHIRAPPALLI',
 'TIRUNELVELI',
 'TIRUPPUR',
 'THIRUVANNAMALAI',
 'TUTICORIN',
 'VELLORE',
 'VILLUPURAM',
 'VIRUDHUNAGAR',
 'ADILABAD',
 'HYDERABAD',
 'KARIMNAGAR',
 'KHAMMAM',
 'MAHBUBNAGAR',
 'MEDAK',
 'NALGONDA',
 'NIZAMABAD',
 'RANGA REDDY',
 'WARANGAL',
 'DHALAI',
 'GOMTI',
 'KHOWAI',
 'NORTH TRIPURA',
 'SIPAHI-JALA',
 'SOUTH TRIPURA',
 'UNAKOTI',
 'WEST TRIPURA',
 'AGRA',
 'ALIGARH',
 'ALLAHABAD',
 'AMBEDKAR NAGAR',
 'AURAIYA',
 'AZAMGARH',
 'BAGHPAT',
 'BAHRAICH',
 'BALLIA',
 'BANDA',
 'BARABANKI',
 'BAREILLY',
 'BASTI',
 'BIJNOR',
 'BUDAUN',
 'BULANDSHAHR',
 'CHANDAULI',
 'CHITRAKOOT',
 'DEORIA',
 'ETAH',
 'ETAWAH',
 'FAIZABAD',
 'FARRUKHABAD',
 'FATEHPUR',
 'FIROZABAD',
 'GAUTAM BUDDHA NAGAR',
 'GHAZIABAD',
 'GHAZIPUR',
 'GONDA',
 'GORAKHPUR',
 'HARDOI',
 'HATHRAS',
 'JALAUN',
 'JAUNPUR',
 'JHANSI',
 'KANNAUJ',
 'KANPUR DEHAT',
 'KANPUR NAGAR',
 'KAUSHAMBI',
 'KHERI',
 'KUSHI NAGAR',
 'LALITPUR',
 'LUCKNOW',
 'MAHARAJGANJ',
 'MAHOBA',
 'MAINPURI',
 'MATHURA',
 'MAU',
 'MEERUT',
 'MIRZAPUR',
 'MORADABAD',
 'MUZAFFARNAGAR',
 'PILIBHIT',
 'RAE BARELI',
 'RAMPUR',
 'SAHARANPUR',
 'SANT KABIR NAGAR',
 'SANT RAVIDAS NAGAR',
 'SHAHJAHANPUR',
 'SHRAWASTI',
 'SIDDHARTH NAGAR',
 'SITAPUR',
 'SONBHADRA',
 'SULTANPUR',
 'UNNAO',
 'VARANASI',
 'ALMORA',
 'CHAMPAWAT',
 'DEHRADUN',
 'HARIDWAR',
 'NAINITAL',
 'PAURI GARHWAL',
 'UTTAR KASHI',
 'BANKURA',
 'BARDHAMAN',
 'BIRBHUM',
 'DARJEELING',
 'NORTH DINAJPUR',
 'JALPAIGURI',
 'MALDAH',
 'EAST MEDINIPUR',
 'WEST MEDINIPUR',
 'MURSHIDABAD',
 'NADIA',
 'PURULIYA']

In [17]:
len(apy_districts)

646

In [18]:
len(gw_districts)

550

In [19]:
len(apy_gw_districts)

516

In [20]:
other_districts = [district for district in gw_districts if district not in apy_gw_districts]
other_districts

['CUDDAPAH',
 'BISWANATH',
 'MORIGAON',
 'KAWARDHA',
 'KORIYA',
 'DAMAN',
 'DIU',
 'EAST',
 'NEW DELHI',
 'NORTH',
 'NORTH WEST',
 'SOUTH',
 'SOUTH WEST',
 'WEST',
 'AHMEDABAD',
 'KODARMA',
 'BANGALORE URBAN',
 'EAST NIMAR',
 'WEST NIMAR',
 'MUMBAI CITY',
 'MUMBAI SUBURBAN',
 'BAUDH',
 'DEBAGARH',
 'SAS NAGAR',
 'SBS NAGAR',
 'CHENNAI',
 'JYOTIBA PHULE NAGAR',
 'UDHAM SINGH NAGAR',
 'HAORA',
 'HUGLI',
 'KOCHBIHAR',
 'NORTH 24 PARGANA',
 'SOUTH  DINAJPUR',
 'SOUTH 24 PARGANA']

In [21]:
len(other_districts)

34

In [22]:
df_apy.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [23]:
df_gw.columns

Index(['State', 'District', 'No of wells monitored', 'Minimum', 'Maximum',
       '0 to 2', 'in %', '2 to 5', 'in %.1', '5 to 10', 'in %.2', '10 to 20',
       'in %.3', '20 to 40', 'in %.4', '> 40', 'in %.5'],
      dtype='object')

In [24]:
df_apy.columns = ['State', 'District', 'Crop_Year', 'Season', 'Crop', 'Area', 'Production']

In [25]:
# Join APY and GW dataframes based upon District
df_merged = df_gw.set_index(['State', 'District']).join(df_apy.set_index(['State', 'District']), how='inner')

In [26]:
df_merged = df_merged.reset_index()
df_merged

,State,District,No of wells monitored,Minimum,Maximum,0 to 2,in %,2 to 5,in %.1,5 to 10,...,in %.3,20 to 40,in %.4,> 40,in %.5,Crop_Year,Season,Crop,Area,Production
0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,33,0.04,4.56,29,88%,4,12%,0,...,0%,0.0,0%,0.0,0%,2000,Kharif,Arecanut,3100.0,5200.0
1,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,33,0.04,4.56,29,88%,4,12%,0,...,0%,0.0,0%,0.0,0%,2000,Kharif,Other Kharif pulses,668.0,448.0
2,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,33,0.04,4.56,29,88%,4,12%,0,...,0%,0.0,0%,0.0,0%,2000,Kharif,Rice,10779.0,31863.0
3,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,33,0.04,4.56,29,88%,4,12%,0,...,0%,0.0,0%,0.0,0%,2000,Whole Year,Banana,1531.0,12073.0
4,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,33,0.04,4.56,29,88%,4,12%,0,...,0%,0.0,0%,0.0,0%,2000,Whole Year,Cashewnut,80.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217880,WEST BENGAL,WEST MEDINIPUR,36,0.70,16.90,5,14%,8,22%,10,...,36%,0.0,0%,0.0,0%,2014,Summer,Rice,195960.0,580442.0
217881,WEST BENGAL,WEST MEDINIPUR,36,0.70,16.90,5,14%,8,22%,10,...,36%,0.0,0%,0.0,0%,2014,Summer,Sesamum,74080.0,58514.0
217882,WEST BENGAL,WEST MEDINIPUR,36,0.70,16.90,5,14%,8,22%,10,...,36%,0.0,0%,0.0,0%,2014,Whole Year,Sugarcane,4390.0,789614.0
217883,WEST BENGAL,WEST MEDINIPUR,36,0.70,16.90,5,14%,8,22%,10,...,36%,0.0,0%,0.0,0%,2014,Winter,Rice,496134.0,1348329.0
217884,WEST BENGAL,WEST MEDINIPUR,36,0.70,16.90,5,14%,8,22%,10,...,36%,0.0,0%,0.0,0%,2014,Winter,Sesamum,119.0,79.0

In [27]:
len(df_merged.District.unique())

516

In [28]:
def duplicate_district_check(d, df):
    return df['State'][df['District'] == d].unique()

for d in df_merged['District'].unique():
    s = duplicate_district_check(d, df_merged)
    if len(s)>1:
        print(d, s)

AURANGABAD ['BIHAR' 'MAHARASHTRA']
HAMIRPUR ['HIMACHAL PRADESH' 'UTTAR PRADESH']
PRATAPGARH ['RAJASTHAN' 'UTTAR PRADESH']

In [29]:
df_merged.Crop_Year.unique()

array([2000, 2001, 2006, 2010, 2002, 2003, 2004, 2005, 1997, 1998, 1999,
       2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015], dtype=int64)

In [30]:
df_merged.columns

Index(['State', 'District', 'No of wells monitored', 'Minimum', 'Maximum',
       '0 to 2', 'in %', '2 to 5', 'in %.1', '5 to 10', 'in %.2', '10 to 20',
       'in %.3', '20 to 40', 'in %.4', '> 40', 'in %.5', 'Crop_Year', 'Season',
       'Crop', 'Area', 'Production'],
      dtype='object')

In [31]:
# Retain only %
df_cleaned = df_merged[['State', 'District', 'Minimum', 'Maximum',
       '0 to 2', '2 to 5', '5 to 10',  '10 to 20', '20 to 40', '> 40', 'Crop_Year', 'Season',
       'Crop', 'Area', 'Production']].copy()

In [32]:
df_cleaned.columns = ['State', 'District', 'GW_depth_Minimum', 'GW_depth_Maximum',
       'Wells_depth_0_to_2', 'Wells_depth_2_to_5', 'Wells_depth_5_to_10', 'Wells_depth_10_to_20',
       'Wells_depth_20_to_40', 'Wells_depth_40_and_above', 'Crop_Year', 'Season', 'Crop', 'Area', 'Production']

In [33]:
df_cleaned.head()

,State,District,GW_depth_Minimum,GW_depth_Maximum,Wells_depth_0_to_2,Wells_depth_2_to_5,Wells_depth_5_to_10,Wells_depth_10_to_20,Wells_depth_20_to_40,Wells_depth_40_and_above,Crop_Year,Season,Crop,Area,Production
0,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0.04,4.56,29,4,0,0.0,0.0,0.0,2000,Kharif,Arecanut,3100.0,5200.0
1,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0.04,4.56,29,4,0,0.0,0.0,0.0,2000,Kharif,Other Kharif pulses,668.0,448.0
2,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0.04,4.56,29,4,0,0.0,0.0,0.0,2000,Kharif,Rice,10779.0,31863.0
3,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0.04,4.56,29,4,0,0.0,0.0,0.0,2000,Whole Year,Banana,1531.0,12073.0
4,ANDAMAN AND NICOBAR,NORTH AND MIDDLE ANDAMAN,0.04,4.56,29,4,0,0.0,0.0,0.0,2000,Whole Year,Cashewnut,80.0,54.0

In [34]:
# df_cleaned.to_csv('Groundwater_APY_data.csv', index=False)